fastapi[standard]
uvicorn
pydantic
pydantic-settings
python-dotenv
sqlalchemy
langgraph
langchain
langchain-core
langchain-google-genai
langchain-nvidia-ai-endpoints
langchain-openai
google-genai
python-multipart
pypdf
python-docx
aiofiles
email-validator
